{% extends "main/base.html" %}
{% block title %}Students{% endblock %}
{% block content %}
{% load humanize %}

{% if request.user.is_authenticated %}
<h1>
  {% if filter is None %}
  <center>Students</center>
  {% else %}
  <center>{{filter|capfirst}} Students</center>
  {% endif %}
</h1>
<br>
{% include 'main/menubar.html' %}
<br>
<div class="container text-center">
  <div class="row g-2 justify-content-center">
    <div class="col-4 m-2 shadow-sm p-3 mb-5 bg-body-tertiary rounded bg-light">
      <h3>Student Count: {{students.count}}</h3>
      <br />
      <h3>Tuition: ${{school.tuition|intcomma}}</h3>
    </div>
    <div
      class="col-4 m-2 shadow-sm p-3 mb-5 bg-body-tertiary rounded bg-light align-items-center justify-content-center">
      <h3>Average Grade Distribution</h3>
      <br />
      <h5>{% for grade, percentage in distribution.items %} {{grade}}: {{percentage}}% {% endfor %}</h5>
      </a>
    </div>
  </div>
</div>
<br />

<form action="" id="filter">
  <select name="filter">
    <option value="all">All</option>
    {% for subject in subjects %}
    <option value="{{subject}}">{{subject}}</option>
    {% endfor %}
  </select>
</form>
<br>

<div id="student-container" class="container overflow-hidden text-center">
  <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
    {% for student in students %}
    <div class="col-2">
      <div id="{{student.id}}" class="card mb-3" style="max-width: 18rem;">
        <div class="card-header bg-primary">
          <h5><a class="title-header link-dark bg-primary fw-medium"
              href="{% url 'main:student' student.id %}">{{student|title}}</a></h5>
        </div>
        <div class="card-body">
          <h5 class="card-title">
            <span style="width: 100%;" class="m-1 badge bg-dark">Year: <span class="badge bg-secondary"> {{student.getYear}}</span></span>
            <br />
            <span style="width: 100%;" class="m-1 badge bg-dark">Major: <span class="badge bg-secondary"> {{student.major}}</span></span>
            <br />
            <span style="width: 100%;" class="m-1 badge bg-dark">Average Grade: <span class="badge bg-secondary"> {{student.average_grade}}</span></span>
          </h5>
          <a href="{% url 'main:delete' student.id 'student' %}">
            <button type="button" class="btn btn-outline-danger">Expel</button>
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
    <div id="start_create_student" class="col-2">
      <div class="card mb-3" style="max-width: 18rem">
        <div class="card-header bg-primary">
          <h5 class="text-dark bg-primary fw-medium">New Student?</h5>
        </div>
        <div class="card-body">
          {% if school.checkTokens > 0 %}
          <button class="toggler btn btn-outline-primary" id="student">Admit</button>
          {% else %}
          <span style="width: 100%;" class="badge bg-dark">No <i class="bi bi-coin text-warning"></i> left!</span>
          <br />
          <span style="width: 100%;" class="badge bg-dark">Advance Year for more <i
              class="bi bi-coin text-warning"></i>!</span>
          {% endif %}
        </div>
      </div>
    </div>
    <div id="create_student" class="col-2" style="display: none;">
      <div class="card mb-3" style="max-width: 18rem">
        <div class="card-header bg-primary">
          <h5 class="text-dark bg-primary fw-medium">Admit Student</h5>
        </div>
        <div class="card-body">
          <div class="card-title">
            <form method="POST" action="{% url 'main:create_student' %}">
              {% csrf_token %} {% if filter is None %}
              <input pattern=".{1,}" required type="text" name="major" placeholder="Major" list="majorList" />
              {% else %}
              <input pattern=".{1,}" required type="text" value="{{filter}}" name="major" placeholder="Major"
                list="majorList" />
              {% endif %}
              <datalist id="majorList">
                <select id="majors">
                  {% for subject in subjects %}
                  <option value="{{subject}}">{{subject}}</option>
                  {% endfor %}
                </select>
              </datalist>
              <br />
              {{form}}
              <div class="badge bg-warning ms-2"><i class="bi bi-coin"> 1</i></div>
              <br />
              <br />
              <button class="btn btn-outline-success" name="student_form" type="submit">Submit</button>
              <button class="toggler btn btn-outline-danger" id="student">Cancel</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endif %}

<script>
  function toggleEditSection(id) {
    let category;
    if ((category = document.getElementById(id)) != null) {
      if (category.style.display == "none") {
        category.style.display = "block";
        document.querySelector("#start_" + id).style.display = "none";
      } else {
        category.style.display = "none";
        document.querySelector("#start_" + id).style.display = "block";
      }
    }
  }

  document.addEventListener("DOMContentLoaded", () => {
    document.querySelectorAll(".toggler").forEach((el) => {
      el.onclick = (el) => {
        toggleEditSection("create_" + el.target.id);
      };
    });

    document.querySelector("#filter").onchange = (el) => {
      document.querySelector("#filter").submit();
    };
  });
</script>

{% endblock %}