{% extends "main/base.html" %}
{% block title %}Teachers{% endblock %}
{% block content %}
{% load humanize %}
{% load static %}

{% if request.user.is_authenticated %}
<h1>
  {% if filter is None %}
  <center>Teachers</center>
  {% else %}
  <center>{{filter|capfirst}} Teachers</center>
  {% endif %}
</h1>
<br>
{% include 'main/menubar.html' %}
<br>
<div class="container text-center">
  <div class="row g-2 justify-content-center">
    <div class="col-4 m-2 shadow-sm p-3 mb-5 bg-body-tertiary rounded bg-light">
      <h3>Faculty Count: {{teachers.count}}</h3>
    </div>
    <div
      class="col-4 m-2 shadow-sm p-3 mb-5 bg-body-tertiary rounded bg-light align-items-center justify-content-center">
      <h3>Average Salary: ${{avgSalary|intcomma}}</h3>
      <br />
      <h3>Average Skill: {{avgSkill}} / 5</h3>
      </a>
    </div>
  </div>
</div>
<br />

<form action="" id="filter1">
  <select name="filter1">
    <option value="all">All</option>
    {% for subject in subjects %}
    <option value="{{subject}}">{{subject}}</option>
    {% endfor %}
  </select>
</form>
<br>

<div id="teacher-container" class="container overflow-hidden text-center">
  <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
    {% for teacher in teachers %}
    <div class="col-2">
      <div id="{{teacher.id}}" class="card mb-3" style="max-width: 18rem;">
        <div class="card-header bg-primary">
          <h5><a class="title-header link-dark bg-primary fw-medium"
              href="{% url 'main:teacher' teacher.id %}">{{teacher|title}} <i
                class="bi bi-arrow-up-right-circle"></i></a></h5>
        </div>
        <div class="card-body">
          <h5 class="card-title">
            <span style="width: 100%;" class="m-1 badge bg-dark">{{ teacher.get_skill_display }}</span>
            <br />
            <span style="width: 100%;" class="m-1 badge bg-dark">Specialization: <span class="badge bg-secondary"> {{teacher.subject}}</span></span>
            <br />
            <span style="width: 100%;" class="m-1 badge bg-dark">Salary: <span class="badge bg-secondary"> {{teacher.salary|intcomma}}</span></span>
          </h5>
          {% if school.checkTokens > 0 %}
          <a class="me-2" href="{% url 'main:train' teacher.id %}"><button type="button"
              class="btn btn-outline-warning">Train</button></a>
          {% endif %}
          <a href="{% url 'main:delete' teacher.id 'teacher' %}">
            <button type="button" class="btn btn-outline-danger">Fire</button>
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
    <div id="start_create_teacher" class="col-2">
      <div class="card mb-3" style="max-width: 18rem">
        <div class="card-header bg-primary">
          <h5 class="text-dark bg-primary fw-medium">New Teacher?</h5>
        </div>
        <div class="card-body">
          {% if school.checkTokens > 0 %}
          <button class="toggler btn btn-outline-primary" id="teacher">Hire</button>
          {% else %}
          <span style="width: 100%;" class="badge bg-dark">No <i class="bi bi-coin text-warning"></i> left!</span>
          <br />
          <span style="width: 100%;" class="badge bg-dark">Advance Year for more <i
              class="bi bi-coin text-warning"></i>!</span>
          {% endif %}
        </div>
      </div>
    </div>
    <div id="create_teacher" class="col-2" style="display: none;">
      <div class="card mb-3" style="max-width: 18rem">
        <div class="card-header bg-primary">
          <h5 class="text-dark bg-primary fw-medium">Hire Teacher</h5>
        </div>
        <div class="card-body">
          <div class="card-title">
            <form method="POST" action="{% url 'main:create_teacher' 'new' %}">
              {% csrf_token %} {% if filter is None %}
              <input pattern=".{1,}" required type="text" name="subject" placeholder="Subject" list="subjectList" />
              {% else %}
              <input pattern=".{1,}" required type="text" value="{{filter}}" name="subject" placeholder="Subject"
                list="subjectList" />
              {% endif %}
              <datalist id="subjectList">
                <select id="subjects">
                  {% for subject in subjects %}
                  <option value="{{subject}}">{{subject}}</option>
                  {% endfor %}
                </select>
              </datalist>
              <br />
              {{form}}
              <div class="badge bg-success ms-2" id="price">$30,000</div>
              <div class="badge bg-warning ms-1"><i class="bi bi-coin"> 1</i></div>
              <br />
              <br />
              <button class="btn btn-outline-success" type="submit">Submit</button>
              <button class="toggler btn btn-outline-danger" id="teacher">Cancel</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endif %}

{% endblock %}