{% extends "main/base.html" %}
{% block title %}{{subject.name}}{% endblock %}
{% block content %}
{% load static %}

{% if request.user.is_authenticated %}
<a href="{% url 'main:home' %}">Go back</a>

<h1>
  <center>{{subject|capfirst}}</center>
</h1>
<br>
{% include 'main/menubar.html' %}
<br>
<center>

  <div id="class-container" class="container overflow-hidden text-center">
    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
      {% for class in subject.class_set.all %}
      <div class="col-2">
        <div id="{{class.id}}" class="card mb-3" style="max-width: 18rem;">
          <div class="card-header bg-primary">
            <h5><a class="title-header link-dark bg-primary fw-medium"
                href="{% url 'main:class' class.name %}">{{class|capfirst}} <i
                  class="bi bi-arrow-up-right-circle"></i></a></h5>
          </div>
          <div class="card-body">
            <h5 class="card-title">
              <span style="width: 100%;" class="m-1 badge bg-dark">Faculty: <span class="badge bg-secondary">{% if class.teacher %} <a
                    class="col-header link-light" href="{% url 'main:teacher' class.teacher.id %}">{{class.teacher}}</a>{% else %} TBA{% endif %}</span></span>
              <br />
              <span style="width: 100%;" class="m-1 badge bg-dark">Room: <span class="badge bg-secondary"> {{class.room}}</span></span>
              <br />
              <span style="width: 100%;" class="m-1 badge bg-dark">Students: <span class="badge bg-secondary"> {{class.students.count}}</span></span>
            </h5>
            <a href="{% url 'main:delete' class.id 'class' %}">
              <button type="button" class="btn btn-outline-danger">Remove</button>
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
      <div id="start_create_class" class="col-2">
        <div class="card mb-3" style="max-width: 18rem">
          <div class="card-header bg-primary">
            <h5 class="text-dark bg-primary fw-medium">New Class?</h5>
          </div>
          <div class="card-body">
            <button class="toggler card-title btn btn-outline-primary" id="class">Create</button>
          </div>
        </div>
      </div>
      <div id="create_class" class="col-2" style="display: none;">
        <div class="card mb-3" style="max-width: 18rem">
          <div class="card-header bg-primary">
            <h5 class="text-dark bg-primary fw-medium">Create Class</h5>
          </div>
          <div class="card-body">
            <div class="card-title">
              <form method="POST" action="">
                {% csrf_token %} {{form}}
                <br />
                <br />
                <button class="btn btn-outline-success" type="submit">Submit</button>
                <button class="toggler btn btn-outline-danger" id="class">Cancel</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</center>

{% endif %}

{% endblock %}