{% extends "main/base.html" %}
{% block title %} {{subject.name}} {% endblock %}

{% block content %}

{% if request.user.is_authenticated %}
<a href="{% url 'main:home' %}">Go back</a>

<h1><center>{{subject|capfirst}}</center></h1>


<div id="subject-container" style="display:flex; flex-direction: row;">
{% for class in classes %}
<div id="{{class.id}}" style="padding: 5%; margin: 5%; border: 2px solid">
<a href="{% url 'main:class' class.name %}">{{class.name}}</a>
<a href="{% url 'main:delete' class.id 'class' %}"><button>Delete Class</button></a>
<br>
Faculty: {{ class.teacher }}
<br>
Room {{ class.room }}
<br>
Students: {{ class.students.count }}
</div>
{% endfor %}
<div id="start_create_class" style="padding: 5%; margin: 5%; border: 2px solid">
    New class?
    <br>
    <button class="toggler" id="class">Create</button>
    </div>
<div id="create_class" style="padding: 5%; margin: 5%; border: 2px solid; display: none;">
<form method="POST" action="">
    {% csrf_token %} 
    {{form}}
    <br>
    <button type="submit">Submit</button>
  </form>
  <button class="toggler" id="class">Cancel</button>
</div>
</div>

{% endif %}

<script>
    function toggleEditSection(id) {
      let category;
      if ((category = document.getElementById(id)) != null) {
        if (category.style.display == "none") {
          category.style.display = "block";
          document.querySelector("#start_"+id).style.display = "none";
        } else {
          category.style.display = "none";
          document.querySelector("#start_"+id).style.display = "block";
        }
      }
    }
  
    document.addEventListener("DOMContentLoaded", () => {
      document.querySelectorAll(".toggler").forEach((el) => {
        el.onclick = (el) => {
          toggleEditSection('create_'+el.target.id);
        };
      });
    });
  </script>

{% endblock %}