<center>
  <h5 class="fw-medium">Registered {{subject|title}} Students</h5>
</center>
<br>
<div id="student-container" class="container overflow-hidden text-center">
  <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
    {% for student in subject.student_set.all %}
    {% if student in class.students.all %}
    <div class="col-2">
      <div id="{{student.id}}" class="card mb-3" style="max-width: 18rem;">
        <div class="card-header bg-primary">
          <h5><a class="title-header link-dark bg-primary fw-medium" href="{% url 'main:student' student.id %}">{{student|title}} <i class="bi bi-arrow-up-right-circle"></i></a></h5>
        </div>
        <div class="card-body">
          <h5 class="card-title">
            <span style="width: 100%;" class="m-1 badge bg-dark">Year: <span class="badge bg-secondary"> {{student.getYear}}</span></span>
      <br />
            <span style="width: 100%;" class="m-1 badge bg-dark">Major: <span class="badge bg-secondary"> {{student.major}}</span></span>
          </h5>
          <form method="POST" action="">
            {% csrf_token %}
            <button class="btn btn-outline-danger" method="POST" type="submit" action="" name="unregister" value="{{student.id}}">
              Unregister
            </button>
          </form>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>

<hr />

<center>
  <h5>Unregistered {{subject|title}} Students</h5>
</center>
<br>
<div id="student-container2" class="container overflow-hidden text-center">
  <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
    {% for student in subject.student_set.all %}
    {% if student not in class.students.all %}
    <div class="col-2">
      <div id="{{student.id}}" class="card mb-3" style="max-width: 18rem;">
        <div class="card-header bg-primary">
          <h5><a class="title-header link-dark bg-primary fw-medium" href="{% url 'main:student' student.id %}">{{student|title}} <i class="bi bi-arrow-up-right-circle"></i></a></h5>
        </div>
        <div class="card-body">
          <h5 class="card-title">
            <span style="width: 100%;" class="m-1 badge bg-dark">Year: <span class="badge bg-secondary"> {{student.getYear}}</span></span>
      <br />
            <span style="width: 100%;" class="m-1 badge bg-dark">Major: <span class="badge bg-secondary"> {{student.major}}</span></span>
          </h5>
          <form method="POST" action="" name="registration">
            {% csrf_token %}
            <button class="btn btn-outline-success" type="submit" name="register" value="{{student.id}}">
              Register
            </button>
          </form>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
    <div id="start_create_student{{subject.id}}" class="col-2">
      <div class="card mb-3" style="max-width: 18rem">
        <div class="card-header bg-primary">
          <h5 class="bg-primary fw-medium">New Student?</h5>
        </div>
        <div class="card-body">
          {% if school.checkTokens > 0 %}
          <button class="toggler card-title btn btn-outline-primary" id="student{{subject.id}}">Admit</button>
          {% else %}
          <span style="width: 100%;" class="badge bg-dark">No <i class="bi bi-coin text-warning"></i> left!</span>
          <br />
          <span style="width: 100%;" class="badge bg-dark">Advance Year for more <i class="bi bi-coin text-warning"></i>!</span>
          {% endif %}
        </div>
      </div>
    </div>
    <div id="create_student{{subject.id}}" class="col-2" style="display: none;">
      <div class="card mb-3" style="max-width: 18rem">
        <div class="card-header bg-primary">
          <h5 class="bg-primary fw-medium">Admit Student</h5>
        </div>
        <div class="card-body">
          <div class="card-title">
            <form method="POST" action="{% url 'main:create_student' %}" name="">
              {% csrf_token %}
              <input pattern=".{1,}" required type="text" name="major" value="{{subject}}" list="majorList" />
              <br />
              {{studentForm}}
              <br />
              <br />
              <button class="btn btn-outline-success" name="student_form" type="submit">Submit</button>
              <button class="toggler btn btn-outline-danger" id="student{{subject.id}}">Cancel</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</center>