{% extends "main/base.html" %}
{% block title %}{{class}}{% endblock %}
{% block content %}

{% if request.user.is_authenticated %}
<a href="{% url 'main:building' class.building.id %}">Go back</a>

<h1>
  <center>{{class|capfirst}}</center>
</h1>
<br>
<div class="container text-center">
  <div class="row g-2 justify-content-center">
    <div class="col-4 m-2 shadow-sm p-3 mb-5 bg-body-tertiary rounded bg-light">
      <h3>Instructor:</h3>
      {% if class.teacher %}
        <h3><a class="col-header" href="{% url 'main:teacher' class.teacher.id %}">{{class.teacher|title}}</a></h3>
      {% else %}
      <h3>None</h3>
      {% endif %}
    </div>
    <div class="col-4 m-2 shadow-sm p-3 mb-5 bg-body-tertiary rounded bg-light">
      <h3>Room {{ class.room }}</h3>
      <h3>Students: {{ class.students.all.count }}</h3>
    </div>
  </div>
</div>
<br />


<h3 class="d-inline-flex gap-1">
  <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample"
    aria-expanded="false" aria-controls="collapseWidthExample">
    Teacher Assignment
  </button>
</h3>

<div class="row">
  <div class="col">
    <div class="collapse collapse-vertical" id="collapseWidthExample">
      <div class="card card-body shadow-sm p-3 mb-5 bg-body-tertiary rounded">
        <div id="teacher-container" class="container overflow-hidden text-center">
          <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
            {% for teacher in class.building.teacher_set.all %}
            {% if teacher != class.teacher %}
            <div class="col-2">
              <div id="{{teacher.id}}" class="card mb-3" style="max-width: 18rem;">
                <div class="card-header bg-primary">
                  <h5><a class="title-header link-dark bg-primary fw-medium" href="{% url 'main:teacher' teacher.id %}">{{teacher|title}} <i class="bi bi-arrow-up-right-circle"></i></a></h5>
                </div>
                <div class="card-body">
                  <span class="card-title">
                    <span style="width: 100%;" class="m-1 badge bg-dark">Specialization: <span class="badge bg-secondary"> {{teacher.subject}}</span></span>
                    <br />
                    <span style="width: 100%;" class="m-1 badge bg-dark">Skill: <span class="badge bg-secondary"> {{teacher.skill}}</span></span>
                    <br />
                    <span style="width: 100%;" class="m-1 badge bg-dark">Salary: <span class="badge bg-secondary"> {{teacher.salary}}</span></span>
                    <br>
                    <br>
                    <form method="POST" action="">
                      {% csrf_token %}
                      <button class="btn btn-outline-primary" type="submit" name="substitute" value="{{teacher.id}}">
                        Substitute
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            {% endif %}
            {% endfor %}
            <div id="start_create_teacher" class="col-2">
              <div class="card mb-3" style="max-width: 18rem">
                <div class="card-header bg-primary">
                  <h5 class="text-dark bg-primary fw-medium">New Teacher?</h5>
                </div>
                <div class="card-body">
                  <button class="toggler card-title btn btn-outline-primary" id="teacher">Create</button>
                </div>
              </div>
            </div>
            <div id="create_teacher" class="col-2" style="display: none;">
              <div class="card mb-3" style="max-width: 18rem">
                <div class="card-header bg-primary">
                  <h5 class="text-dark bg-primary fw-medium">Create Teacher</h5>
                </div>
                <div class="card-body">
                  <div class="card-title">
                    <form method="POST" action="{% url 'main:create_teacher' class.name %}">
                      {% csrf_token %} {{teacherForm}}
                      <br />
                      <br />
                      <button class="btn btn-outline-success" name="teacher_form" type="submit">Submit</button>
                      <button class="toggler btn btn-outline-danger" id="teacher">Cancel</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>

<form action="" id="filter">
  <select class="form-select">
    <option value="all" selected>All</option>
    {% for subject in subjects %}
    <option value="{{subject}}">{{subject}}</option>
    {% endfor %}
  </select>
</form><br>

<div id="all" style="display: block" class="card">
  <div class="card-header bg-primary">
    <center>
      <h3 class="text-dark bg-primary fw-medium">Students</h3>
    </center>
  </div>
  <div class="card-body">
    <p class="card-text">
      {% include 'main/class_students.html'%}
    </p>
  </div>
</div>

{% for subject in subjects %}
<div id="{{subject|title}}" style="display: none" class="card">
  <div class="card-header bg-primary">
    <center>
      <h3 class="text-dark bg-primary fw-medium">{{subject|title}} Students</h3>
    </center>
  </div>
  <div class="card-body">
    <p class="card-text">
    <div>
      {% include 'main/class_students_by_major.html' %}
    </div>
    </p>
  </div>
</div>
{% endfor %}
{% endif %}

<script>
  function toggleEditSection(id) {
    let category;
    if ((category = document.getElementById(id)) != null) {
      if (category.style.display == "none") {
        category.style.display = "block";
        document.querySelector("#start_" + id).style.display = "none";
      } else {
        category.style.display = "none";
        document.querySelector("#start_" + id).style.display = "block";
      }
    }
  }

  document.addEventListener("DOMContentLoaded", () => {
    document.querySelectorAll(".toggler").forEach((el) => {
      el.onclick = (el) => {
        toggleEditSection("create_" + el.target.id);
      };
    });

    var prev = document.querySelector("#all");
    document.getElementById("filter").onchange = (el) => {
      prev.style.display = "none";
      prev = document.getElementById(el.target.value);
      console.log(el.target.id)
      prev.style.display = "block";
    };
  });
</script>

{% endblock %}