{% extends "main/base.html" %}
{% block title %} {{class}} {% endblock %}

{% block content %}

{% if request.user.is_authenticated %}
<a href="{% url 'main:building' class.building.id %}">Go back</a>

<h1><center>{{class.name|capfirst}}</center></h1>
<h1><center><a href="{% url 'main:faculty' class.teacher.id %}">{{class.teacher|title}}</a></center></h1>
<h3><center>Room {{ class.room }}</center></h3>
<br>

<h3>Registered Students</h3>
<div id="subject-container" style="display:flex; flex-direction: row; flex-wrap: wrap;">
{% for student in class.students.all %}
<div id="{{student.id}}" style="padding: 5%; margin: 5%; border: 2px solid">
<a href="{% url 'main:student' student.id %}">{{student|title}}</a>
<br>
    Major: {{student.major}}
<br>
<form method="POST" action="">
{% csrf_token %} 
<button method="POST" type="submit" action="" name="unregister" value="{{student.id}}">Unregister</button>
</form>
</div>
{% endfor %}
</div>

<hr>

<h3>Unregistered Students</h3>
<div id="subject-container" style="display:flex; flex-direction: row; flex-wrap: wrap;">
    {% for student in students %}
    {% if student not in class.students.all %}
    <div id="{{student.id}}" style="padding: 5%; margin: 5%; border: 2px solid">
    <a href="{% url 'main:student' student.id %}">{{student|title}}</a>
    <br>
        Major: {{student.major}}
    <br>
    <form method="POST" action="">
    {% csrf_token %} 
    <button type="submit" name="register" value="{{student.id}}">Register</button>
    </form>
    </div>
    {% endif %}
    {% endfor %}
</div>

{% endif %}
{% endblock %}