{% extends "main/base.html" %} {% block title %} Home {% endblock %} 
{% block content %}

<div id="start">
  <button class="toggler" id="student">Student</button>
  <br />
  <button class="toggler" id="teacher">Teacher</button>
  <br />
  <button class="toggler" id="subject">Subject</button>
  <br />
  <button class="toggler" id="class">Class</button>
</div>

<div id="studentSec" style="display: none">
  <form method="POST" action="">
    {% csrf_token %}
    <input name="major" placeholder="Major" list="majorList">
        <datalist id="majorList">
            <select id="majors">
                {% for subject in subjects %}
                    <option value="{{subject}}">{{subject}}</option>
                {% endfor %}
            </select>
        </datalist><br>
    {{studentForm}}
    <button name="student_form" type="submit">Submit</button>
  </form>

  <button class="toggler" id="student">Go back</button>
</div>

<div id="teacherSec" style="display: none">
  <form method="POST" action="">
    {% csrf_token %}
    <input name="subject" placeholder="Subject" list="subjectList">
        <datalist id="subjectList">
            <select id="subjects">
                {% for subject in subjects %}
                    <option value="{{subject}}">{{subject}}</option>
                {% endfor %}
            </select>
        </datalist><br>
    {{teacherForm}}
    <button name="teacher_form" type="submit">Submit</button>
  </form>

  <button class="toggler" id="teacher">Go back</button>
</div>

<div id="subjectSec" style="display: none">
  <form method="POST" action="">
    {% csrf_token %}
    {{subjectForm}}
    <button name="subject_form" type="submit">Submit</button>
  </form>

  <button class="toggler" id="subject">Go back</button>
</div>

<div id="classSec" style="display: none">
  <form method="POST" action="">
    {% csrf_token %} 
    <input name="building" placeholder="Building" list="buildingList">
        <datalist id="buildingList">
            <select id="buildings">
                {% for subject in subjects %}
                    <option value="{{subject}}">{{subject}}</option>
                {% endfor %}
            </select>
        </datalist><br>
    {{classForm}}
    <button name="class_form" type="submit">Submit</button>
  </form>

  <button class="toggler" id="class">Go back</button>
</div>

<script>
  function toggleEditSection(id) {
    let category;
    if ((category = document.getElementById(id)) != null) {
      if (category.style.display == "none") {
        category.style.display = "block";
        document.querySelector("#start").style.display = "none";
      } else {
        category.style.display = "none";
        document.querySelector("#start").style.display = "block";
      }
    }
  }

  document.addEventListener("DOMContentLoaded", () => {
    document.querySelectorAll(".toggler").forEach((el) => {
      el.onclick = (el) => {
        toggleEditSection(el.target.id+'Sec');
      };
    });
  });
</script>

{% endblock %}
