{% extends "main/base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

{% if request.user.is_authenticated %}
<br>

<div class="container text-center">
  <div class="row">
    <div class="col-md-4 ms-auto">
      <div id="school-container">
        {% if school %}
        <h5>{{school.name}}</h5>
        <h5>Superintendent: {{school.player_name}}</h5>

        <div id="start_create_school">
          <button class="toggler btn btn-outline-primary" id="school">Edit</button>
          <a href="{% url 'main:delete' school.id 'school' %}">
            <button type="button" class="btn btn-outline-danger">Start over</button>
          </a>
        </div>
        <div id="create_school" style="display: none">
          <form method="POST" action="">
            {% csrf_token %} {{schoolForm}}
            <button name="school_form" class="btn btn-outline-success" type="submit">Submit</button>
          </form>
          <button class="toggler btn btn-outline-danger" id="school">Cancel</button>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<br>
<center>
  <h1>Departments</h1>
</center>
<br>

<center>
  <div id="subject-container" class="container overflow-hidden text-center">
    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
      {% for subject in subjects %} {% if subject %}
      <div class="col-2">
        <div id="{{subject.id}}" class="card mb-3" style="max-width: 18rem;">
          <div class="card-header bg-primary">
            <h5><a class="title-header link-dark bg-primary fw-medium" href="{% url 'main:building' subject.id %}">{{subject|capfirst}} <i class="bi bi-arrow-up-right-circle"></i></a></h5>
          </div>
          <div class="card-body">
            <h5 class="card-title">
              <span style="width: 100%;" class="m-1 badge bg-dark">Classes: <span class="badge bg-secondary"> {{ subject.class_set.count }}</span></span>
              <br />
              <span style="width: 100%;" class="m-1 badge bg-dark">Faculty: <span class="badge bg-secondary"> {{ subject.teacher_set.count }}</span></span>
              <br />
              <span style="width: 100%;" class="m-1 badge bg-dark">Students: <span class="badge bg-secondary"> {{ subject.student_set.count }}</span></span>
            </h5>
            <a href="{% url 'main:delete' subject.id 'subject' %}">
              <button type="button" class="btn btn-outline-danger">Delete Subject</button>
            </a>
          </div>
        </div>
      </div>
      {% endif %} {% endfor %}
      <div id="start_create_subject" class="col-2">
        <div class="card mb-3" style="max-width: 18rem">
          <div class="card-header bg-primary">
            <h5 class="text-dark bg-primary fw-medium">New Building?</h5>
          </div>
          <div class="card-body">
            <button class="toggler card-title btn btn-outline-primary" id="subject">Create</button>
          </div>
        </div>
      </div>
      <div id="create_subject" class="col-2" style="display: none">
        <div class="card mb-3" style="max-width: 18rem">
          <div class="card-header bg-primary">
            <h5 class="text-dark bg-primary fw-medium">Create Building</h5>
          </div>
          <div class="card-body">
            <div class="card-title">
              <form method="POST" action="">
                {% csrf_token %} {{subjectForm}}
                <br />
                <br>
                <button name="subject_form" class="btn btn-outline-success" type="submit">Submit</button>
                <button class="toggler btn btn-outline-danger" id="subject">Cancel</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</center>
{% endif %}

<script>
  function toggleEditSection(id) {
    let category;
    if ((category = document.getElementById(id)) != null) {
      if (category.style.display == "none") {
        category.style.display = "block";
        document.querySelector("#start_" + id).style.display = "none";
      } else {
        category.style.display = "none";
        document.querySelector("#start_" + id).style.display = "block";
      }
    }
  }

  document.addEventListener("DOMContentLoaded", () => {
    document.querySelectorAll(".toggler").forEach((el) => {
      el.onclick = (el) => {
        toggleEditSection("create_" + el.target.id);
      };
    });
  });
</script>

{% endblock %}