{% extends "main/base.html" %}
{% block title %} Home {% endblock %}

{% block content %}

{% if request.user.is_authenticated %}
<a href="{% url 'main:create' %}">Create</a>



<div id="subject-container" style="display:flex; flex-direction: row;">
{% for subject in subjects %}
{% if subject %}
<div id="{{subject.id}}" style="padding: 5%; margin: 5%; border: 2px solid">
<a href="{% url 'main:building' subject.id %}">{{subject|capfirst}}</a>
<a href="{% url 'main:delete' subject.id 'subject' %}"><button>Delete Subject</button></a>
<br>
Classes: {{ subject.class_set.count }}
<br>
Faculty: {{ subject.teacher_set.count }}
<br>
Students: {{ subject.student_set.count }}
</div>
{% endif %}
{% endfor %}
</div>
{% endif %}

{% endblock %}