{% extends "main/base.html" %}
{% block title %}{{teacher}}{% endblock %}
{% block content %}
{% load humanize %}
{% load static %}

{% if request.user.is_authenticated %}
<a href="{% url 'main:home' %}">Go Home</a>

<h1>
  <center>{{teacher|title}}</center>
</h1>
<br>
{% include 'main/menubar.html' %}
<br>
<div class="container text-center">
  <div class="row g-2 justify-content-center">
    <div class="col-4 m-2 shadow-sm p-3 mb-5 bg-body-tertiary rounded bg-light">
      <h3>{{teacher.get_skill_display}}</h3>
      <br />
      <h3>Specialization: {{teacher.subject}}</h3>
    </div>
    <div
      class="col-4 m-2 shadow-sm p-3 mb-5 bg-body-tertiary rounded bg-light align-items-center justify-content-center">
      <h3>Salary: ${{teacher.salary|intcomma}}</h3>
      <br>
      {% if school.checkTokens > 0 %}
      <a class="me-2" href="{% url 'main:train' teacher.id %}"><button type="button"
          class="btn btn-outline-warning">Train</button></a>
      {% endif %}
      <a href="{% url 'main:delete' teacher.id 'teacher' %}">
        <button type="button" class="btn btn-outline-danger">Fire</button>
      </a>
    </div>
  </div>
</div>
<br />


<h3>Classes</h3>
<hr>
<div id="class-container" class="container overflow-hidden text-center">
  <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
    {% for class in classes %}
    <div class="col-2">
      <div id="{{class.id}}" class="card mb-3" style="max-width: 18rem;">
        <div class="card-header bg-primary">
          <h5><a class="title-header link-dark bg-primary fw-medium"
              href="{% url 'main:class' class %}">{{class|capfirst}} <i class="bi bi-arrow-up-right-circle"></i></a>
          </h5>
        </div>
        <div class="card-body">
          <h5 class="card-title">
            <span style="width: 100%;" class="m-1 badge bg-dark">Room <span class="badge bg-secondary"> {{class.room}}</span></span>
            <br />
            <span style="width: 100%;" class="m-1 badge bg-dark">Students: <span class="badge bg-secondary"> {{class.students.count}}</span></span>
          </h5>
          <a href="{% url 'main:delete' class.id 'class' %}">
            <button type="button" class="btn btn-outline-danger">Remove</button>
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<h3>Edit</h3>
<hr>
<div id="teacher-container" class="container overflow-hidden text-center">
  <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
    <div id="edit_teacher" class="col-2">
      <div class="card mb-3" style="width: 88vw;">
        <div class="card-header">
          <form method="POST" action="">
            {% csrf_token %}
            <input name="subject" placeholder="Subject" list="subjectList" />
            <datalist id="subjectList">
              <select id="subjects">
                {% for subject in subjects %}
                <option value="{{subject}}">{{subject}}</option>
                {% endfor %}
              </select></datalist>
            <br />
            {{form}}
            <div class="badge bg-success ms-2" id="price">${{teacher.salary|intcomma}}</div>
            <br>
            <br>
            <button class="btn btn-outline-success" type="Submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


{% endif %} {% endblock %}